<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanghi.study.mapper.BookMapper">
    <select id="getBookById" resultType="com.yanghi.study.bean.Book">
        select `bid`, `title`, `desc` from db_book where bid = #{bid}
    </select>
</mapper>